<section class="house-prices">
    <div class="text-wrap">
        <h2>UK house prices have been on the rise.</h2>
        <p>It's no game. According to Nationwide Building Society in 1983 the average first-time buyer spent 3.7 times their salary. As of 2018 Londoner's are now paying almost 10 times their salary. </p>
        <p>Take a chance and see how much it hast cost to buy a London property over the years.</p>
        <p>The model assumes your "Go" money of £200 is your annual salary.</p>
    </div>
    <h2 id="card-title">Chance</h2>
    <div id="chance" class="chance">
        <p></p>
        <p id="message"></p>
    </div>
    <div id="jquery-wrapper">
        <div id="result">
            <div id="property-wrapper"><span id="price"></span></div>
            <input id="chance-slider" type="range" min="1983" max="2018" step="1" value="data-value">
            <div id="flex-wrap">
                <label for="chance-slider">Year:</label>
                <output id="year" name="chance-slider"></output>
            </div>
        </div>
    </div>
</section>
