.divider {
    display: flex;
    align-items: center;
}


hr.yo, hr.question-dot {
    width: 93%;
    margin: 0 auto;
    padding: 12px 0;
}

hr.arrow {
    @include green-bar;
    @include block-padding();
}

.question-dot {
    background-color: $light-green;
    background-repeat: repeat-x;
    background-image: url("../img/question-dot.png");
}
