.community {
    @include green-section;
    a:hover {
        border-bottom: none;
    }
    @media only screen and (max-width: $tiny-mobile) {
        padding: $spacing-unit/2;
    }
    @media only screen and (max-width: $mobile) {
        padding: 0;
    }
    h1 {
        margin-left: 20px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $spacing-unit/2 0;
}

.social:hover {
    color: #444444;
}

.chest {
    @extend %card;
    flex-basis: 500px;
    background-color: $community-color;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: $spacing-unit;
    grid-template-rows: minmax(40px, auto) minmax(40px, auto) minmax(20px, 120.75px);
    h2 {
        align-self: end;
    }
    .community-img {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 2;
    }
    @media only screen and (min-width: 1040px) {
        margin-right: $spacing-unit;
    }
    @media only screen and (max-width: $mobile) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 0;
        padding: $spacing-unit/2;
        .social {
            align-self: center;
        }
        h2 {
            flex-basis: 75%;
        }
        img {
            width: 60px;
            height: auto;
            align-self: center;
        }
    }

    &:hover .social {
        animation: bounceIn 2s ease;
        animation-fill-mode: forward;
    }
}
