    .site-description {
        display: flex;
        align-items: flex-end;
        padding: $spacing-unit*6 $spacing-unit $spacing-unit*5 $spacing-unit;
        justify-content: space-evenly;
        h1 {
            flex-basis: 570px;
            margin-bottom: $spacing-unit;
        }
        img {
            width: 100%;
            height: auto;
        }
        .img-wrapper {
            flex-basis: 45%;
        }
        /* @media only screen and (max-width: 900px) {
            h1 {
                @include font-size(h2);
                ;
            }
        }*/
        @media only screen and (max-width: 1250px) {
            h1{
                margin-bottom: 0;
                flex-basis: 55%
            }

        }
        @media only screen and (max-width: 800px) {
            align-items: center;
        }
        @media only screen and (max-width: 700px) {
            flex-flow: column-reverse;
            align-items: flex-end;
            padding-top: $spacing-unit*3;
            padding-bottom: $spacing-unit*2.5;
            h1 {
                flex-basis: auto;
            }
        }
    }
