/* ==========================================================================
   Helen's custom styles
   ========================================================================== */


/**
 * Site header
 */

#site-header {
    position: sticky;
    top: 0;
    z-index: 1;
    @include flex-row;
    justify-content: space-between;
    //@include block-padding(1, .5);
    padding: $spacing-unit $spacing-unit $spacing-unit/2 $spacing-unit/2;
    @include green-bar;
}

#logo {
    text-decoration: none;
    @include font-size(h3);
    &:hover {
        border-bottom: none;
        color: $text-color;
    }
    @media only screen and (max-width: $mobile) {
        margin-left: 0;
    }
}

.trigger {
    padding: 7px 0;
    display: flex;
    li:first-child {
        display: none;
    }
}

.page-link a {
    @include font-size(h3);
    line-height: $base-line-height;
    text-decoration: none;
    padding: 5px 0;
    margin-right: 2*$spacing-unit;
    &:not(:first-child) {
        margin-left: 0;
    }
    &:hover {
        color: $red-color;
    }
    &:not(:first-child) {
        margin-left: $spacing-unit;
    }
}

#site-nav {
    @media only screen and (max-width: 700px) {
        margin-top: .5 * $spacing-unit;
        text-decoration: none;
        position: absolute;
        padding-right: 0;
        top: 0;
        right: 10px;
        //width: inherit;

        .trigger {
            display: none;
            padding: 0;
            li:first-child {
                display: list-item;
    }
        }
        &:hover .trigger {
            display: flex;
            flex-flow: column wrap;
            background: $background-color;
            @include border(lrb);
            }
        &:hover img{
            transform: rotate(-90deg);
        }
        img {
            transition: transform 1s ease;
        }
        a {
            border-bottom: none;
            margin-right: 0;
            &:hover {
                color: $text-color;
            }
        }
        .page-link{
            padding: 8px 10px;
            margin: 5px;
            &:hover{
                background: $red-color;
                padding: 5px 7px;
                @include border(all);
            }
            &::first-child{
                padding-top: 0;
            }
        }
        .menu-icon {
            display: block;
            text-align: right;
            padding: 1em;
            margin-bottom: 8px;
            text-decoration: none;
            @include font-size(h3);
        }
    }
}

@media only screen and (max-width: 600px) {
    top: 25px;
}


.menu-icon {
    display: none;
}
