/**
 * Site footer
 */

#footer {
    display: flex;
    justify-content: space-between;
    background-color: $red-color;
    color: $background-color;
    padding: $spacing-unit;
    a {
        color: $background-color;
        text-decoration: none;
        &:hover {
            border-bottom-color: $background-color;
        }
    }
    li {
        padding-bottom: $spacing-unit;
    }
    p {
        flex-basis: 25%;
        align-self: flex-end;
        @media only screen and (max-width: $tablet) {
            flex-basis: 50%;
        }
    }
}
